<router-outlet></router-outlet>
<div *ngIf="!isChildRouteActive()" class="details-wrapper">
  <app-details-card class="left"></app-details-card>

  <div class="spinner" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!(error$ | async); else errorTemplate" class="right">
    <mat-card>
      <mat-card-content>Episodes {{ episodeNumber }}</mat-card-content>
    </mat-card>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">
          <span class="title" [routerLink]="['episodes', element.trackId]">{{
            element.trackName
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.releaseDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
        [ngClass]="i % 2 !== 0 ? 'even' : 'odd'"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <ng-template #errorTemplate>
    <div>Error loading podcasts.</div>
    <!-- TODO: Improve ui of error template -->
  </ng-template>
</div>
