@import '../../../variables';

.details-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  margin: 2rem;
  .left {
    flex: 1;
  }

  .spinner {
    width: fit-content;
    margin: auto;
  }
}

.right {
  flex: 6;
}

@media(max-width: $breakpoint-md) {
  .details-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .right {
      width: 100%;
    }
  }
}
