<mat-card>
  <mat-card-content>
    <div class="image">
      <img
        routerLink="/"
        mat-card-image
        [src]="image$ | async"
        alt="Photo of a Shiba Inu"
      />
      <mat-divider></mat-divider>
    </div>

    <div class="title">
      <mat-card-title routerLink="/">{{ artist$ | async }}</mat-card-title>
      <mat-card-subtitle routerLink="/">{{ title$ | async }}</mat-card-subtitle>
      <mat-divider></mat-divider>
    </div>

    <div class="desc">
      <mat-card-title>Description</mat-card-title>
      <mat-card-subtitle>{{ description$ | async }}</mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>
