<div class="podcast-list">
  <div class="filter">
    <span>100</span>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Podcasts</mat-label>
        <input
          type="text"
          placeholder="Search..."
          matInput
          [formControl]="form"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete"> </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <div class="spinner" *ngIf="loading$ | async; else podcastList">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #podcastList>
    <div *ngIf="!(error$ | async); else errorTemplate">
      <div class="card-wrapper" *ngIf="filteredPodcasts$ | async as podcasts">
        <mat-card
          class="card"
          *ngFor="let podcast of podcasts"
          (click)="onCardClick(podcast)"
          [routerLink]="['podcast', podcast.id.attributes['im:id']]"
        >
          <div class="image">
            <img mat-card-sm-image [src]="podcast['im:image'][0].label" />
          </div>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ podcast["im:name"].label }}</mat-card-title>
              <mat-card-subtitle
                >Author:{{ podcast["im:artist"].label }}</mat-card-subtitle
              >
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="button">
        <button *ngIf="loadMoreVisible" (click)="loadMore()" mat-button>
          Load more...
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #errorTemplate>
    <div>Error loading podcasts.</div>
    <!-- TODO: Improve ui of error template -->
  </ng-template>
</div>
